@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    text-align: center;
    padding: 5% 5%;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    text-align: center;
    padding: 5% 35%;
  }
}

.ui.button.AppButton {
  padding: 20px;
  margin-top: 20px;
}

.flynn {
  margin-left: 15px;
  position: fixed;
  bottom: 0px;
  max-width: 10%;
  height: auto;
  z-index: 10;
}
